.contenedor-img{
    width: 80px;
    height: 80px;

}
.user-name{
    font-size: 12px;
}

.icon{
    margin-right: 10px;
    font-size: 20px;
    color: rgb(24, 24, 24);
}
.icon:hover{
    color: rgb(117, 117, 117);
    cursor: pointer;
}